body {
    margin: 0;
    padding: 0;
    
    background-image: url("hh.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.box {
    border-radius: 50px;
    margin: 250px;
    margin-top: 150px;
    background-color: #303030;
    color: white;
    height: 1000px;
}

.title {
    margin-top: 150px;
    text-align: center;
    font-size: 100px;
    color: white;
}

.textposition {
    margin-left: 30px;
    margin-bottom: 50px;
}

.interactionbox {

    width: 50px;
    height: 50px;

}

img {
    width: 250px;
    height: 400px;
    border-radius: 20px;
    object-fit: cover;
}



.buttonsLayout {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}


.border {
    position: relative;
    width: 300px;
    height: 400px;
    border-radius: 20px;

    background-image: url("hh.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}


.button {
    width: 95%;
    height: 95%;
    border-radius: 20px;
    background-color: #303030;

    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
}